<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-dynamicdatasource:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-boot-dynamicdatasource-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-boot-dynamicdatasource:war exploded" />
    </root>
  </artifact>
</component>